.titulo::first-letter{
    text-transform: uppercase;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contenedor img{
    width: 450px;
}
.titulo{
    color:crimson;
}